name: Tests

on:
  push:
    branches: [ 'master' ]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: sudo apt-get -qq install libolm-dev
      - uses: golangci/golangci-lint-action@v2
        with:
          version: v1.39
          args: ./internal/... ./tests/... 

  complement:
    needs: lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # ensure if synapse fails we keep running dendrite and vice-versa
      matrix:
        include:
          - homeserver: Synapse
            tags: synapse_blacklist,msc2403,msc2946,msc3083
            default_branch: develop

          - homeserver: Dendrite
            tags: msc2836 dendrite_blacklist
            default_branch: master

    container:
      image: matrixdotorg/complement  # dockerfiles/ComplementCIBuildkite.Dockerfile
      env:
        CI: true
        DOCKER_BUILDKIT: 1
      ports:
        - 8448:8448
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock

    steps:
      - uses: actions/checkout@v2

      - name: "Checkout corresponding ${{ matrix.homeserver }} branch"
        if: ${{ matrix.homeserver == 'Synapse' }}
        shell: bash
        run: |
          mkdir -p homeserver
          # Attempt to use the version of of the homeserver which best matches the
          # current build. Depending on whether this is a PR or release, etc. we
          # need to use different fallbacks.
          #
          # 1. First check if there's a similarly named branch (GITHUB_HEAD_REF
          #    for pull requests, otherwise GITHUB_REF).
          # 2. Attempt to use the base branch, e.g. when merging into release-vX.Y
          #    (GITHUB_BASE_REF for pull requests).
          # 3. Use the default homeserver branch.
          for BRANCH_NAME in "$GITHUB_HEAD_REF" "$GITHUB_BASE_REF" "${GITHUB_REF#refs/heads/}" "${{ matrix.default_branch }}"; do
            # Skip empty branch names and merge commits.
            if [[ -z "$BRANCH_NAME" || $BRANCH_NAME =~ ^refs/pull/.* ]]; then
              continue
            fi

            (wget -O - "https://github.com/matrix-org/${{ matrix.homeserver }}/archive/$BRANCH_NAME.tar.gz" | tar -xz --strip-components=1 -C homeserver) && break
          done

      # Build initial homeserver image
      - run: docker build -t matrixdotorg/synapse:latest -f docker/Dockerfile .
        if: ${{ matrix.homeserver == 'Synapse' }}
        working-directory: homeserver

      - run: docker build -t homeserver -f dockerfiles/${{ matrix.homeserver }}.Dockerfile dockerfiles/
      - run: go test -p 2 -v -tags "${{ matrix.tags }}" ./tests/...
        env:
          COMPLEMENT_BASE_IMAGE: homeserver
